<br>
<div class="container">
  <div class="row justify-content-center">
  <div class="card mx-auto text-black bg-light" style="width: 50rem;">
  <div class="card-body mx-auto">
  <h1> Bienvenue, sur le site des potins a gogo ! </h1><br><br>

  <%= button_to "Creer un potin", new_gossip_path, :method => "get" %>
  </div>
  </div>
</div>
</div>

<br>
<br>


<% Gossip.count.times do |i| %>
<div class="card mx-auto m-5 text-black border-dark bg-light " style="width: 18rem;">
  <div class="card-body mx-auto">
  <h5 class="card-title"> Auteur : <%= link_to "#{Gossip.find(i + 1).user.first_name}", salut_path(Gossip.find(i + 1).user)%></h5>
  <p class="card-text"> Potin : <%= link_to "#{Gossip.find(i + 1).title}", potin_path(Gossip.find(i + 1)), class: "card-text" %></p>
  </div>
  <%end%>
  </div>
    </div>
  