<br>
<div class="container" style="background-image: url('../public/gossip-time-nico.png');">
  <div class="row justify-content-center">
<h1> Bienvenue, sur le site des potins a gogo ! </h1>
</div>
</div>

<br>
<br>

<% Gossip.count.times do |i| %>

  <div class="card mx-auto" style="width: 18rem;">
    <div class="card-body mx-auto">
    <h5 class="card-title"> Auteur : <%= link_to "#{Gossip.find(i + 1).user.first_name}", salut_path(Gossip.find(i + 1).user)%></h5>
    <p class="card-title"> Potin : <%= link_to "#{Gossip.find(i + 1).title}", potin_path(Gossip.find(i + 1)), class: "card-text" %></p>
    </div>
  </div>
  </div>
  </div>
  <%end%>
  