<h1>Editing Lier Private Message User</h1>

<%= render 'form', lier_private_message_user: @lier_private_message_user %>

<%= link_to 'Show', @lier_private_message_user %> |
<%= link_to 'Back', lier_private_message_users_path %>
