<%= form_with(model: join_table_tag_gossip, local: true) do |form| %>
  <% if join_table_tag_gossip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(join_table_tag_gossip.errors.count, "error") %> prohibited this join_table_tag_gossip from being saved:</h2>

      <ul>
      <% join_table_tag_gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
