<h1>Editing Join Table Tag Gossip</h1>

<%= render 'form', join_table_tag_gossip: @join_table_tag_gossip %>

<%= link_to 'Show', @join_table_tag_gossip %> |
<%= link_to 'Back', join_table_tag_gossips_path %>
